################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Architechture.Web/bin/Debug
/Architechture.Web/obj
/Architecture.BusinessLogic/bin/Debug
/Architecture.BusinessLogic/obj
/Architecture.Data/bin/Debug
/Architecture.Data/obj
/Architecture.Entities/bin/Debug
/Architecture.Entities/obj
/Architecture.Interface/bin/Debug
/Architecture.Interface/obj
/Architecture.Repository/bin/Debug
/Architecture.Repository/obj
/Architecture.Services/bin/Debug
/Architecture.Services/obj
/Architecture.Utility/bin/Debug
/Architecture.Utility/obj
/Architechture.Web/logs/UserActivity
/Architecture.ILogger/bin/Debug
/Architecture.ILogger/obj
/Architechture.Web/bin
/Architechture.Web/obj
/Architechture.Web/logs
/ArchitechtureProject/bin/Debug/netcoreapp2.2
/ArchitechtureProject/logs/UserActivity
/ArchitechtureProject/obj
